# Required Python version
python==3.11

# Libraries used
pandas
numpy
scikit-learn
nltk
psutil
beautifulsoup4

# TensorFlow / Keras (for the BiLSTM)
tensorflow
keras

# Used for HTML preprocessing and text cleaning
bs4




